:root {
  --cell-width: 60px;
}

.calendar {
  min-height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem;
}

.calendar-weekdays,
.calendar-content {
  width: calc(var(--cell-width) * 7);
  display: flex;
  flex-wrap: wrap;
}

.calendar-cell {
  width: var(--cell-width);
  height: var(--cell-width);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.calendar-cell-days {
  cursor: pointer;
}

.calendar-cell-days:not(.calendar-cell-range):not(.calendar-cell-in-range):not(
    .calendar-current
  ):hover {
  background-color: rgba(66, 141, 255, 0.2);
}

.calendar-current,
.calendar-current:hover {
  background-color: rgb(66, 141, 255);
  color: #fff;
}

.calendar-cell-range {
  background-color: rgb(173, 133, 238);
  color: #000;
}

.calendar-cell-in-range {
  background-color: rgba(173, 133, 238, 0.2);
  color: #000;
  border-radius: 0;
}

.calendar-current {
  border-radius: 100%;
}
