.header {
  padding: 1rem;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-right: 1rem;
  }
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionButton {
  height: 100%;
  padding: 4px 8px;
}

.actionButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
