.header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionButton {
  border: none;
  height: 100%;
  padding: 4px 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
}

.actionButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
